name: reviewdog

on: [pull_request]

jobs:
  reviewdog:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v2

      - name: Test
        run: |
          go test -race ./... -coverprofile cover.out

      - name: Coverage
        run: |
          go tool cover -func cover.out